.about-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  //   margin: 0 auto;

  width: $nav-content-max-width;
  min-height: 510px;

  .about-blurb {
    // margin-bottom: 35px;
    margin-top: 100px;
    h1 {
      font-family: "novaExtraCondensed", sans-serif;
      font-size: 60px;
      text-decoration: underline;
      text-decoration-thickness: 3px;
      font-weight: lighter;
      letter-spacing: 6px;
    }
    p {
      font-family: "gillReg", sans-serif;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 1.6px;
    }
  }

  .client-quote-header {
    width: $nav-content-max-width;
    height: 50px;
    display: flex;
    margin-bottom: 37px;
    h1 {
      font-family: "novaExtraCondensed", sans-serif;
      font-size: 40px;
      text-decoration: underline;
      text-decoration-thickness: 3px;
      font-weight: lighter;
      letter-spacing: 4px;
    }
  }
  .client-quote-content {
    margin-bottom: 180px;
    .client-quote {
      width: $nav-content-max-width;
      min-height: 150px;
      // background-color: $primary-color;
      display: flex;
      // justify-content: flex-start;
      gap: 21px;
      justify-content: flex-start;
      margin-bottom: 37px;

      .client-image {
        background-image: url(../images/about-client-01.jpg);
        height: 150px;
        width: 260px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .client-image-two {
        background-image: url(../images/about-client-02.jpg);
        height: 150px;
        width: 260px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .client-info {
        width: 385px;
        height: 100%;
        position: relative;
        .client-text {
          margin-bottom: 50px;
          p {
            font-family:
              "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            font-style: italic;
            font-size: 16px;
            // line-height: 1.5;
            letter-spacing: 1.6px;
          }
        }
        .client-name {
          position: absolute;
          right: 0;
          bottom: 0;

          p {
            font-family: "novaExtraCondensed", sans-serif;
            font-size: 20px;
            color: #79addc;
            font-weight: lighter;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}
