nav {
  width: $nav-content-max-width;
  height: $nav-height;
  //   background-color: aqua;
  margin-top: 10px;
}
.nav-white {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  color: #fff;
  border-bottom: #fff 2px solid;
  :hover {
    color: #79addc;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: "gillThin", sans-serif;
    margin-left: 20px;
    // margin-right: 20px;
    padding-right: 20px;
    position: relative;
    left: 45%;
    border-right: 1px solid #79addc;
  }
  .nav-logo {
    background-image: url(../images/logo/logo-white.png);
    max-width: 92px;
    height: 38px;
    position: relative;
    top: 30px;
  }
}

.nav-black {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: #000 2px solid;
  :hover {
    color: #79addc;
  }
  a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-family: "gillThin", sans-serif;
    // margin-left: 20px;
    // margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    // position: relative;
    // left: 45%;
    border-right: 1px solid #79addc;
  }
  .nav-logo-black {
    background-image: url(../images/logo/logo-black.png);
    min-width: 92px;
    height: 38px;
  }
}
