//app and body targeting
@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }

  #app {
    overflow-x: hidden;
    max-width: 100vw;
    width: 100%;
    box-sizing: border-box;
  }
}

//Promo Images

@media screen and (max-width: 900px) {
  .home-content {
    .promos {
      flex-direction: column;
      align-items: center;

      .promo-image-box {
        margin-top: 30px;
      }
    }
  }
}

//Nav

@media screen and (max-width: 900px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .footer-contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      .logo {
        display: none;
      }
      .copywrite {
        display: none;
      }

      .social-media-icons {
        display: flex;
        justify-content: center;
        width: 80%;
      }
    }
  }

  nav {
    // position: sticky;
    align-items: center;
    // display: flex;
    justify-content: space-evenly;
    padding: 0 10px 0 10px;
    width: 100%;
    background-color: #fff;
  }
}

@media screen and (max-width: 900px) {
  .nav-white {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 0;

    .nav-logo {
      display: none; // Hide logo on mobile to save space
    }

    .links {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    a {
      color: #000;
      position: static;
      left: auto;
      margin: 0 10px;
      padding: 0 30px 0 20px;
    }
  }
}

//Booking Form

@media screen and (max-width: 900px) {
  .form-response {
    text-align: center;
    justify-content: center;

    .two-col-text-input {
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      row-gap: 10px;
    }
    .one-col-text-input {
      flex-direction: column;
      flex-wrap: wrap;
      padding-left: 20%;
      width: 80%;
      align-items: center;

      .cal-icon {
        display: none;
      }
    }

    .three-col-text-input {
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;

      .children,
      .adult,
      .rooms {
        display: none;
      }
    }

    .message-text-input {
      padding-left: 20%;
      width: 80%;
    }
  }
}

@media screen and (max-width: 900px) {
  .booking-form-holder {
    .submit-button {
      width: 80%;
      max-width: 850px;
      height: 60px;
    }
  }
}

@media screen and (max-width: 900px) {
  .home .home-content .booking-form-holder .submit-button {
    width: 80%;
    max-width: 850px;
    height: 60px;
    margin: 20px auto;
    display: flex;
  }
}

//about page contents
@media screen and (max-width: 900px) {
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
    padding: 0 20px;
  }

  .about-blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

    h1 {
      font-size: 40px;
    }

    p {
      margin: 0 20px;
      width: 100%;
    }
  }

  .client-quote-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .client-quote-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;

    h1 {
      font-size: 30px;
    }
  }

  .client-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    gap: 20px;

    .client-image,
    .client-image-two {
      width: 100%;
      max-width: 300px;
      height: 200px;
    }

    .client-info {
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;

      .client-text p {
        width: 100%;
      }
    }
  }
}
