* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
@font-face {
  font-family: "novaExtraCondensed";
  src: url(../css/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}

@font-face {
  font-family: "gillThin";
  src: url(../css/fonts/GillSans-Light.ttf);
}

@font-face {
  font-family: "gillReg";
  src: url(../css/fonts/GillSans.ttf);
}

@font-face {
  font-family: "gillItalic";
  src: url(../css/fonts/GillSans-Italic.ttf);
}

footer {
  background-color: $footer-bg-color;
  color: white;
  text-align: center;
  height: 100px;
  width: 100%;

  .footer-contents {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    .logo {
      background-image: url(../images/logo/logo-white.svg);
      width: 92px;
      height: 38px;
      // margin: 0 auto;
    }
    .copywrite {
      font-family: "gillThin", sans-serif;
      font-size: 12px;
      // text-align: center;
      width: 216px;
      height: 16px;
      // margin: 0 auto;
    }
    .social-media-icons {
      display: flex;
      gap: 22px;
      // margin-right: 151px;
      width: 127px;

      .facebook,
      .twitter,
      .instagram {
        width: 22.5px;
        height: 22.5px;
        background-size: cover;
      }
      .facebook {
        background-image: url(../images/logo/facebook.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .twitter {
        background-image: url(../images/logo/twitter.svg);
      }
      .instagram {
        background-image: url(../images/logo/instagram.svg);
      }
    }
  }
}
